.mat-form-field {
    margin: 20px 50px;
    width: 500px !important;
}

.uploader {
    margin-left: auto;
    margin-right: auto;
}

.header {
    font-size: 18px;
    font-weight: bold;
    margin: 30px 40px;
}

.header-content {
    font-size: 14px;
    margin-left: 40px;
}

.table-title {
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.mat-toolbar-single-row {
    height: auto !important;
    background: transparent;
}
.mat-toolbar-single-row button {
    width: 100px;
    margin-right: 10px;
}
.mat-form-field {
    width: 100%;
}
#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}

#transform {
    margin-right: 20px;
}

table {
    width: 100%;
}

.table-container {
    height: 60%;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.table-container button {
    width: 200px;
    margin-right: 10px;
}

.spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.button-container {
    display: inline-block;
    position: relative;
} 